<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>

    <title>Paneau Admin</title>
  </head>
  <body id="adminBody" data-theme="dark">
    <nav>
      <a href="/" class="retourBtn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-chevron-left"
        >
          <path d="m15 18-6-6 6-6" />
        </svg>
        <p>Accueil</p>
      </a>
      <div class="navigation">
        <a href="/admin">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-layout-dashboard"
          >
            <rect width="7" height="9" x="3" y="3" rx="1" />
            <rect width="7" height="5" x="14" y="3" rx="1" />
            <rect width="7" height="9" x="14" y="12" rx="1" />
            <rect width="7" height="5" x="3" y="16" rx="1" />
          </svg>
          <p>Panel</p>
        </a>
        <a href="/admin/products">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-package-search"
          >
            <path
              d="M21 10V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l2-1.14"
            />
            <path d="m7.5 4.27 9 5.15" />
            <polyline points="3.29 7 12 12 20.71 7" />
            <line x1="12" x2="12" y1="22" y2="12" />
            <circle cx="18.5" cy="15.5" r="2.5" />
            <path d="M20.27 17.27 22 19" />
          </svg>
          <p>Produits</p>
        </a>
        <a href="/admin/evenements">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-calendar-minus-2"
          >
            <path d="M8 2v4" />
            <path d="M16 2v4" />
            <rect width="18" height="18" x="3" y="4" rx="2" />
            <path d="M3 10h18" />
            <path d="M10 16h4" />
          </svg>
          <p>Évènements</p>
        </a>
        <a href="/admin/config">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-settings"
          >
            <path
              d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"
            />
            <circle cx="12" cy="12" r="3" />
          </svg>
          <p>Configuration</p>
        </a>
      </div>
      <div class="bottom">
        <button
          id="themeSwitcher"
          class="headerButton"
          onclick="switchTheme(this)"
        >
          Theme sombre
        </button>
        <a
          class="signoutBtn"
          onclick="window.location.href = '/api/account/logout'"
          >Déconnexion</a
        >
        <a class="signoutBtn" href="/account">Mon compte</a>
      </div>
    </nav>
    <main class="adminMain">
      <div class="eventTop">
        <h1>Evènements</h1>
        <div>
          <button class="filterButton" onclick="filterByUpcoming(this)">
            Uniquement à venir
          </button>
          <span id="sortingOptions">
            <p>(Par date)</p>
            <button
              class="sortButton decroissant"
              onclick="sortDecroissant()"
              title="Tri décroissant"
            ></button
            ><button
              class="sortButton croissant"
              onclick="sortCroissant()"
              title="Tri croissant"
            ></button>
          </span>
        </div>
      </div>
      <div id="eventContainer"></div>
    </main>
  </body>
  <script>
    const tableContainer = document.getElementById("eventContainer");

    const extractNameFromEmail = (email) => {
      const parts = email.split("@")[0].split(".");
      const firstName = parts[0];
      const lastName = parts[1];

      return firstName + " " + lastName;
    };

    function searchUser(eventId) {
      //pop up
      const popup = document.createElement("div");
      popup.classList.add("popup");
      popup.setAttribute("id", "popup");
      const popupContent = document.createElement("div");
      popupContent.classList.add("popupContent");

      const popupTitle = document.createElement("h3");
      popupTitle.classList.add("popupTitle");
      popupTitle.innerText = "Ajouter un participant";
      const popupInput = document.createElement("input");
      popupInput.setAttribute("type", "text");
      popupInput.setAttribute("id", "searchUserInput");
      popupInput.setAttribute("name", "searchUserInput");
      popupInput.classList.add("adminStyleInput");
      popupInput.setAttribute("placeholder", "Rechercher un utilisateur");
      popupInput.addEventListener("input", (e) => {
        const value = e.target.value;
        if (value.length > 0) {
          fetch("/api/admin/searchUser", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ value, eventId }),
          })
            .then((res) => res.json())
            .then((data) => {
              showUsers(data.results, data.inscriptions, eventId);
            });
        } else {
          document.getElementById("searchUserResults").innerHTML = "";
        }
      });
      const popupClose = document.createElement("button");
      popupClose.innerText = "Fermer";
      popupClose.setAttribute("onclick", "closePopup()");
      popupClose.classList.add("adminStyleButton");
      popupClose.classList.add("closeButton");
      popupContent.appendChild(popupTitle);
      popupContent.appendChild(popupInput);
      popupContent.appendChild(popupClose);
      var searchUserResults = document.createElement("div");
      searchUserResults.setAttribute("id", "searchUserResults");
      popupContent.appendChild(searchUserResults);

      popup.appendChild(popupContent);
      document.body.appendChild(popup);

      popupInput.focus();
    }

    function closePopup() {
      document.getElementById("popup").remove();
    }

    function showUsers(users, inscriptions, eventId) {
      searchUserResults = document.getElementById("searchUserResults");
      searchUserResults.innerHTML = "";

      if (users.length === 0) {
        const userContainer = document.createElement("div");
        userContainer.classList.add("userContainer");

        const userName = document.createElement("p");
        userName.innerText = "Aucun utilisateur trouvé";
        const userButton = document.createElement("button");
        userButton.innerText = "Créer un utilisateur";
        userButton.classList.add("adminStyleButton");
        userButton.setAttribute("onclick", `createUser('${eventId}')`);
        userContainer.appendChild(userName);
        userContainer.appendChild(userButton);

        searchUserResults.appendChild(userContainer);
      }

      users.forEach((user) => {
        const userContainer = document.createElement("div");
        userContainer.classList.add("userContainer");

        const userInfo = user.email + " (" + user.username + ")";

        const userName = document.createElement("p");
        userName.innerText = userInfo;
        userContainer.appendChild(userName);

        if (inscriptions.includes(user.email)) {
          const userAdded = document.createElement("p");
          userAdded.innerText = "Inscrit";
          userContainer.appendChild(userAdded);
        } else {
          const userButton = document.createElement("button");
          userButton.innerText = "Ajouter";
          userButton.classList.add("adminStyleButton");
          userButton.setAttribute(
            "onclick",
            `addUser('${user.email}', '${eventId}')`
          );
          userContainer.appendChild(userButton);
        }

        searchUserResults.appendChild(userContainer);
      });
    }

    function createUser(eventId) {
      var email = prompt("Entrez l'email");
      if (!email || email === "") return;
      addUser(email, eventId);
    }

    function addUser(email, eventId) {
      var areYouSure = confirm(
        "Voulez-vous vraiment ajouter cet utilisateur ?"
      );
      if (!areYouSure) return;

      const xp = prompt(
        "Entrez la quantité d'xp que rapporte cet event à cet utilisateur"
      );

      if (email) {
        fetch("/api/admin/addUser", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ email, eventId, xp }),
        }).then((res) => {
          if (res.status === 200) {
            userAlertGood(
              "Utilisateur ajouté. Rafraichir la page pour voir les changements"
            );
          } else {
            userAlert("Erreur lors de l'ajout de l'utilisateur");
          }
        });
      }
    }

    function removeParticipant(email, eventId) {
      var areYouSure = confirm(
        "Voulez-vous vraiment supprimer cet utilisateur ?"
      );
      if (!areYouSure) return;

      fetch("/api/admin/removeUser", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ email, eventId }),
      }).then((res) => {
        if (res.status === 200) {
          userAlertGood(
            "Utilisateur supprimé. Rafraichir la page pour voir les changements"
          );
        } else {
          userAlert("Erreur lors de la suppression de l'utilisateur");
        }
      });
    }

    fetch("/api/admin/getEvents")
      .then((res) => res.json())
      .then((data) => {
        showEvents(data.events);
      });

    function expand(eventId) {
      console.log(`[data-date="${eventId}"]`);
      const eventContainer = document.querySelector(
        ".eventContainer.event" + eventId
      );
      const eventParticipants = eventContainer.querySelector("ul");
      const expandButton = eventContainer.querySelector(".expandButton");
      if (eventParticipants.style.display === "none") {
        eventParticipants.style.display = "flex";
        expandButton.innerText = "Cacher";
      } else {
        eventParticipants.style.display = "none";
        expandButton.innerText = "Voir";
      }
    }

    function showEvents(events) {
      events.forEach((element) => {
        //display the name, price and date of the event. Then, display the list of participants
        const eventContainer = document.createElement("div");
        eventContainer.classList.add("eventContainer");
        const eventName = document.createElement("h3");
        eventName.innerText = element.name + " - " + element.price + "€";

        const eventDate = document.createElement("p");

        //extract the date and time from the element.date
        const date = new Date(element.date);
        const day = date.getDate();
        const month = date.getMonth() + 1;
        const year = date.getFullYear();
        const hour = date.getHours();
        const minutes = date.getMinutes();
        const finalDate =
          day + "/" + month + "/" + year + " à " + hour + "h" + minutes;

        eventDate.innerText = "Le " + finalDate;
        eventDate.classList.add("eventDate");
        const listName = document.createElement("p");
        listName.innerText = "Participants : (" + element.users.length + ")";
        const nameSpan = document.createElement("span");
        nameSpan.appendChild(listName);

        const expand = document.createElement("button");
        expand.classList.add("expandButton");
        expand.innerText = "Voir";
        expand.setAttribute("onclick", `expand('${element.id}')`);
        nameSpan.appendChild(expand);

        const pdfButton = document.createElement("button");
        pdfButton.classList.add("generate-pdf");
        pdfButton.classList.add("adminStyleButton");
        pdfButton.innerText = "Générer PDF";
        pdfButton.setAttribute("onclick", `generatePDF('${element.id}')`);
        nameSpan.appendChild(pdfButton);

        const addButton = document.createElement("div");
        addButton.classList.add("plusButton");
        addButton.setAttribute("onclick", `searchUser('${element.id}')`);
        nameSpan.appendChild(addButton);

        const eventParticipants = document.createElement("ul");
        if (element.users.length > 0) {
          element.users.forEach((participant) => {
            const participantItem = document.createElement("li");
            const participantSpan = document.createElement("span");
            const participantName = document.createElement("p");
            participantName.innerText = extractNameFromEmail(participant);

            const participantButton = document.createElement("button");
            participantButton.innerText = "Supprimer";
            participantButton.setAttribute(
              "onclick",
              `removeParticipant('${participant}', '${element.id}')`
            );

            participantSpan.appendChild(participantName);
            participantSpan.appendChild(participantButton);
            participantItem.appendChild(participantSpan);

            eventParticipants.appendChild(participantItem);
          });
        } else {
          const participantItem = document.createElement("p");
          participantItem.innerText = "Aucun participant";
          eventParticipants.appendChild(participantItem);
        }
        eventParticipants.style.display = "none";

        eventContainer.classList.add("event" + element.id);
        eventContainer.setAttribute("data-date", date);
        eventContainer.appendChild(eventName);
        eventContainer.appendChild(eventDate);
        eventContainer.appendChild(nameSpan);
        eventContainer.appendChild(eventParticipants);
        tableContainer.appendChild(eventContainer);
      });
    }

    function sort(croissant) {
      const events = document.querySelectorAll(".eventContainer");

      //sort the events by date
      const sortedEvents = Array.from(events).sort((a, b) => {
        const dateA = new Date(a.getAttribute("data-date"));
        const dateB = new Date(b.getAttribute("data-date"));

        if (croissant) return dateA - dateB;

        return dateB - dateA;
      });

      tableContainer.querySelectorAll(".eventContainer").forEach((event) => {
        event.remove();
      });

      sortedEvents.forEach((event) => {
        tableContainer.appendChild(event);
      });
    }

    function sortDecroissant() {
      sort(false);
    }

    function sortCroissant() {
      sort(true);
    }

    function filterByUpcoming(elem) {
      elem.innerText = "Tous";
      elem.setAttribute("onclick", "noFilter(this)");

      const events = document.querySelectorAll(".eventContainer");
      let nbElem = events.length;
      events.forEach((event) => {
        const date = new Date(event.getAttribute("data-date"));
        const now = new Date();
        if (date < now) {
          event.style.display = "none";
          nbElem--;
        }
      });
      if (nbElem === 0) {
        const noEvent = document.createElement("p");
        noEvent.classList.add("noEvent");
        noEvent.innerText = "Aucun évènement à venir";
        tableContainer.appendChild(noEvent);
      }
    }

    function noFilter(elem) {
      elem.innerText = "Uniquement à venir";
      elem.setAttribute("onclick", "filterByUpcoming(this)");

      const events = document.querySelectorAll(".eventContainer");
      let nbElem = events.length;
      if (document.querySelector(".noEvent")) {
        document.querySelector(".noEvent").remove();
      }
      events.forEach((event) => {
        event.style.display = "block";
      });
    }

    function generatePDF(eventId) {
      const users = document.querySelectorAll(
        ".eventContainer.event" + eventId + " ul li span p"
      );

      // Choose the element that our invoice is rendered in.
      const title = document.createElement("h1");
      title.classList.add("pdfText");
      var eventName = document.querySelector(
        ".eventContainer.event" + eventId + " h3"
      ).innerText;
      eventName = eventName.split(" - ")[0];
      title.innerHTML = "Inscriptions pour " + eventName + " :";

      const container = document.createElement("div");
      container.classList.add("pdfContainer");
      container.appendChild(title);

      users.forEach((element) => {
        const textElement = document.createElement("p");
        textElement.innerHTML = "☐ " + element.innerText;
        textElement.classList.add("pdfText");
        container.appendChild(textElement);
      });

      //set the margin and the font size
      const opt = {
        margin: 0.3,
        filename: `inscriptions_${eventName}.pdf`,
        image: { type: "jpeg", quality: 0.98 },
        html2canvas: { scale: 2 },
        jsPDF: { unit: "in", format: "letter", orientation: "portrait" },
      };

      // Choose the element and save the PDF for our user.
      html2pdf()
        .from(container)
        .set(opt)
        .save();
    }

    document
      .getElementById("changeBanner")
      .addEventListener("submit", function (e) {
        e.preventDefault();
        const showBanner = document.getElementById("showBanner").checked;
        const color = document.getElementById("bannerColor").value;
        const textToShow = document.getElementById("texteToShow").value;
        const link = document.getElementById("link").value;
        const linkBody = document.getElementById("linkBody").value;
        const data = {
          showBanner,
          color,
          textToShow,
          link,
          linkBody,
        };
        fetch("/api/admin/changeBanner", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        }).then((res) => {
          if (res.status === 200) {
            userAlertGood("Bannière modifiée");
          } else {
            userAlert("Erreur lors de la modification de la bannière");
          }
        });
      });

    function showBannerInfo(element) {
      fetch("/api/getBannerInfo")
        .then((res) => res.json())
        .then((data) => {
          if (data.showBanner) {
            element.querySelector("#showBanner").checked = true;
          }
          element.querySelector("#bannerColor").value = data.color;
          element.querySelector("#texteToShow").value = data.textToShow;
          element.querySelector("#link").value = data.link;
          element.querySelector("#linkBody").value = data.linkBody;
        });
    }

    showBannerInfo(document);
  </script>
  <script src="/js/logic.js"></script>
</html>
