.productImage {
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.orders{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}
.order{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.order-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.order-content{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--background-color);
}
.productDesc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
}


